@charset "UTF-8";
/* CSS document */

/*Importación de fuentes*/
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url(fonts/Montserrat/), format(truetype);
}

@font-face {
    font-family: "Display";
    src: url(fonts/Display/5thAvenue.ttf), format(truetype);
}

/* Acá arranca a definirse el html en general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


/* Se define el body la tipografia a utilizar en toda la página*/
body {
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #ff6e9b;
    cursor: url(img/cursor.svg), auto;
}

/* Aplicando css en el header, empezando por el nav*/
header {
    background-color: #ffdbc5;
    height: 100vh;
}

.botonera {
    display: flex;
    flex-wrap: wrap;
    height: 8vh;
    align-items: center;
    justify-content: space-evenly;
}

.botones {
    font-size: 1.3rem;
    text-decoration: none;
    color: #ff6e9b;
    font-weight: 700;
    border: 3px solid #ff6e9b;
    border-radius: 100px;
    padding: 15px 15px;
    height: 5vh;
    display: flex;
    align-items: center;
}

/* se agrupan todas las cajas del main usando flexbox */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* Inicio */
.flex_inicio {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 900px;
}

h1 {
    font-family: "Display";
    color: #fc2683;
    font-size: 9rem;
    line-height: 150px;
    letter-spacing: 5px;
}

#bajada_dg {
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    color: #ff7e01;
    letter-spacing: 5px;
    line-height: 100px;
    margin: 25px 0;
}

#flor_animada {
    animation-name: girar;
    animation-duration: 4s;
    position: initial;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 25px;
}


@keyframes girar {
    from {
        transform: rotate(45deg);
    }

    to {
        transition: transform 0.3;
    }
}

.girar {
    animation: girar continuo 2s linear infinite;
}

/* Inicio del body, primer bloque de datos */
.flex_presentacion {
    margin: 50px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
}

#foto_cv {
    position: relative;
    border-radius: 15px;
}

.flex_datos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #fc2683;
    height: 533px;
    width: 440px;
    line-height: 30px;
    padding: 35px 20px
}

h3 {
    font-weight: 700;
    font-size: 2.1rem;
    color: #ffdbc5;
    letter-spacing: 5px;
    line-height: 30px;
    margin: 0 0 25px 0;
}

li {
    font-weight: 700;
    font-size: 1.8rem;
    color: #ffdbc5;
}

.datos {
    font-weight: 400;
    font-size: 1.7rem;
    color: #ffdbc5;
    line-height: 50px;
}

.flex_sobremi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #ffc96d;
    height: 533px;
    width: 700px;
    padding: 0 25px 0 25px;
}

h2 {
    color: #ff0062;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 5px;
    line-height: 30px;
    margin: 25px 0 5px 0;
    padding: 25px 25px ;
}

#texto_sobremi {
    font-size: 2.3rem;
    line-height: 47px;
    font-weight: 400;
}

p {
    font-size: 1.9rem;
    font-family: "Montserrat", sans-serif;
    color: #ff0062;
    font-weight: 500;
}



/* bloque izquierda y derecha aplicando flexbox */
.flex_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.columna_izq {
    display: flex;
    flex-direction: column;
}

/* bloque vertical izquierda */
.cajas {
    display: flex;
    background-color: #ffdbc5;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 15px;
    padding: 25px;
    width: 700px;
}

#titulo_mag {
    font-weight: 900;
    font-size: 2.1rem;
    color: #fc2683;
    letter-spacing: 5px;
    line-height: 30px;
    margin: 0 0 10px 0;
}

#datos_columna {
    color: #fc2683;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 15px;
    font-weight: 700;
}

#datos_bajada {
    font-weight: normal;
    font-size: 1.3rem;
    color: #ff0062;
    margin: 0 0 10px 0;
    line-height: 205x;
}

/* bloque vertical derecha */
.flex_der {
    display: flex;
    flex-direction: column;
}

.iconos {
    display: flex;
    flex-direction: column;
    background-color: #fc2683;
    height: 520px;
    border-radius: 15px;
    padding: 20px;
    justify-content: center;
    align-content: normal;
    align-items: stretch;
    margin: 25px 0 25px;
}

#titulo_hab {
    font-weight: 700;
    font-size: 3rem;
    color: #ffdbc5;
    letter-spacing: 5px;
    padding: 25px 25px 0;
    margin-bottom: 15px;
}

.flex_hab {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 50px 0;
}

.redes {
    background-color: #ffc96d;
    border-radius: 15px;
    padding: 20px;
    width: 865px;
    height: 285px;
}


#titulo_redes {
    font-weight: 700;
    font-size: 3rem;
    color: #fc2683;
    letter-spacing: 5px;
    padding: 20px 20px 0;
    margin-bottom: 15px;
}

#flex_redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}

/* footer */
.caja_footer {
    display: flex;
    flex-direction: row;
    background-color: #ffb027;
    height: 53px;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 25px;
}


h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffdbc5;
    letter-spacing: 5px;
    margin: 10px 0 10px 0;
    
   
}


.flex_playlist {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

#datos_footer {
    color: #ffdbc5;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
}