@charset "UTF-8";
/* CSS document */

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap);

@font-face {
    font-family: "Display";
    src: url(fonts/Display/5thAvenue.ttf), format(truetype);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff4375;
    ;
    cursor: url(img/cursor.svg), auto;
}

.botonera {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffb027;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
}

.botones {
    font-size: 1.3rem;
    text-decoration: none;
    color: #ed1e79;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border: 3.5px solid  #ed1e79;
    border-radius: 100px;
    padding: 15px 15px;
}

.flex_inicio {
    height: 720px;
    background-color:#ffdbc5;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

#titulo_principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    letter-spacing: 2px;
}

h1 {
    font-family: "Display";
    color: #ff6e9b;
    font-size: 8rem;
    line-height: 180px;
    letter-spacing: 5px;
}

#bajada {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ff7e01;
    letter-spacing: 5px;
    line-height: 100px;
}

#flor-animada {
    animation-name: girar;
    animation-duration: 4s;
    position: initial;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 201px;
    height: 201px
}


@keyframes girar {
    from {
        transform: rotate(45deg);
    }

    to {
        transition: transform 0.3;
    }
}

.girar {
    animation: girar continuo 2s linear infinite;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #ff6e9b;
}

.flex_presentacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    gap: 13px;    
    justify-content: center;
}

#foto_cv {
    border-radius: 15px;
    width: 310px;
    height: 380px;
}

#sobre_mi {

    background-color: #ffb027;
    width: 660px;
    height: 380px;
    border-radius: 15px;
    padding: 30px;
    
}

#datos_personales {
    background-color: #ed1e79;
    width: 310px;
    height: 380px;
    border-radius: 15px;
    padding: 30px 20px 0;
}

h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ffdbc5;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
 
}

ol {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffdbc5;
}
#datos {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffdbc5;
    line-height: 35px;
}



h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #ff0062;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
}

span {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #ff0062;
    font-weight: 400;
}

